:host {
  display: block;
  background-color: hsl(var(--b1));
  min-height: 100%;
}

.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 0;
  z-index: 9999;
}

.modal-dialog::backdrop {
  background: rgba(0, 0, 0, 0.5); /* خلفية شبه شفافة */
}
