

/* .select {
  @apply border rounded-lg p-2 w-full focus:ring-2 focus:ring-blue-400 outline-none;
}

.input {
  @apply border rounded-lg p-2 w-full focus:ring-2 focus:ring-blue-400 outline-none;
}

.btn-primary {
  @apply bg-blue-600 text-white rounded-lg py-2 w-full hover:bg-blue-700 transition;
} */
