/* .input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 text-sm focus:ring-2 focus:ring-blue-500 outline-none;
}

.btn-save {
  @apply bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition;
}

.btn-new {
  @apply bg-gray-600 text-white px-6 py-2 rounded-lg hover:bg-gray-700 transition;
} */
